<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop :: Índice</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Nodepop</h1>
    <h2></h2>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <% if(product.isSelling) { %> Se vende <% } else { %> Se busca <% } %>
        <strong><a href="/products/<%= product._id %>"><%= product.name %></a>:</strong> <%= product.price %>€
      </li>
      <% }) %>
    </ul>
  </body>
</html>
